body {
	font-family: "Proxima Nova", Helvetica, sans-serif;
	background-color: #000;
	font-size: 14px;
    color: #fff;
    display: inline-block;
    width: 100%;
    font-weight: 300;
}

body, p, h1, h2, h3, h4, h5, a, ol, li, pre, header {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 32px;
	font-weight: 300;
}


h2 {
	font-size: 24px;
	font-weight: 400;
}

h3 {
	font-size: 16px;
	font-weight: 300;
	padding-top: 8px;
}

h4 {
	font-size: 14px;
	font-weight: 200;
	padding-top: 16px;
}

p {
	font-size: 14px;
	line-height: 22px;
	color: #888888;
	font-weight: 300;
	padding-top: 8px;
}

main {
	margin: 0 auto;
	width: 960px;
	padding: 72px 24px 0 24px;
}

footer {
	border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.05);
	padding: 24px 0 40px;
	display: inline-block;
	margin-top: 24px;
	width: 100%;
}

header {
	border-bottom-color: #23272a;
	border-bottom-width: 1px;
    background: #222222;
    position: fixed;
    width: 80%;
    display: inline-block;
    height: 80px;
    z-index: 10000;
	margin-left: 10%;
	margin-top: 15px;
	border-radius: 10px;
}

header nav, footer nav {
	width: 960px;
	margin: 0 auto;
	padding: 0 24px;
}

/* ------ Main Page ------ */

section#projects {
	margin-top: 56px;
	min-height: 500px;
}

nav#sections ol {
	list-style: none;
	padding: 0;
}

nav#sections li {
	display: inline-block;
}

ol.offerings li {
	background: #232323;
	border-radius: 3px;
	padding: 32px 32px 0px 32px;
	width: 405px;
	min-height: 160px;
	margin-top: 20px;
	border-radius: 10px;
}

nav > ol {
	list-style: none;
	padding: 0;
}

header img {
	padding: 22px 0;
}

.header-img {
	height: 180px;
	width: 150px;
	float: right;
	display: inline-block;
	padding-top: 24px;
}

.hello-logo:hover {
	opacity: .7;
}

.github-nav {
	float: right;
	padding-right: 24px;
	opacity: .7;
}

.github-nav:hover {
	opacity: 1;
}

.card-icon {
	padding: 24px 24px 24px 0;
	opacity: .7;
	float: left;
}

.card-icon:hover {
	opacity: 1;
}

ol.offerings {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
/*	align-items: flex-start;*/
	justify-content: space-between;
}

a.project-title , a.project-title:visited {
	color: inherit;
}

a.project-title:hover {
	color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

