
/*body {
  margin: 0;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #060606;
  opacity: 1;
  background-image:  repeating-linear-gradient(45deg, #121212 25%, transparent 25%, transparent 75%, #121212 75%, #121212), repeating-linear-gradient(45deg, #121212 25%, #060606 25%, #060606 75%, #121212 75%, #121212);
  background-position: 0 0, 18px 18px;
  background-size: 36px 36px; 
  background-image: url("https://images.pling.com/img/00/00/62/69/92/1719799/minimalist-desktop-101.jpg"); 
  background-size: cover;
  background-repeat: no-repeat; 
} */
body.dark-mode {
  margin: 0;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #060606;
  opacity: 1;
  background-image:  repeating-linear-gradient(45deg, #121212 25%, transparent 25%, transparent 75%, #121212 75%, #121212), repeating-linear-gradient(45deg, #121212 25%, #060606 25%, #060606 75%, #121212 75%, #121212);
  background-position: 0 0, 18px 18px;
  background-size: 36px 36px; 
  background-image: url("https://4kwallpapers.com/images/wallpapers/desert-sand-dunes-night-moon-light-abu-dhabi-blue-5k-3840x1080-1512.jpg"); 
  background-size: cover;
  background-repeat: no-repeat; 
  color: #fff;
}

body.light-mode {
  margin: 0;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #060606;
  opacity: 1;
  background-image:  repeating-linear-gradient(45deg, #121212 25%, transparent 25%, transparent 75%, #121212 75%, #121212), repeating-linear-gradient(45deg, #121212 25%, #060606 25%, #060606 75%, #121212 75%, #121212);
  background-position: 0 0, 18px 18px;
  background-size: 36px 36px; 
  background-image: url("https://wallpapercave.com/wp/UuypBYq.jpg"); 
  background-size: cover;
  background-repeat: no-repeat; 
  color: #000;
}

.toggle-dark-light {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10%;
  margin: auto;
  margin-right: 2em;
  margin-top: .5em;
  margin: 10px; 
}

.glassbox {
  box-sizing: border-box;
  padding: 75px 50px;
  width: 100%;
  max-width: 800px;
  background: rgba(68, 68, 68, 0.156);
  box-shadow: 0px 10px 50px 0 rgba(31, 135, 57, 0.265);
/* CHANGE THIS TO CHANGE THE BLUR AMOUNT */
  backdrop-filter: blur( 10.0px );
  -webkit-backdrop-filter: blur( 10.0px );
  border-radius: 10px;
  border: 1px solid rgb(255 255 255 / 15%);
  text-align: center;
}


h1 {
    font-size: 36px;
    line-height: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 25px;
    line-height: 1.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;

}

h3 {
    font-size: 16px;
    line-height: 0.8em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: -15px;
}

a, a:visited, a:hover {
    text-decoration: none;
    /* color: rgb(73, 73, 73); */
}


.copyrightsleft {
position: fixed;
left: 40px;
bottom: 40px;
text-align: left;
font-size: 12px;
color: #ffffff94;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.copyrightsright {
position: fixed;
right: 40px;
bottom: 40px;
}

.btn {
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #898989;
    font-size: x-large;
}

.btn:hover {
  color:rgb(0, 255, 76);
  transition:.4s;
}