body {
  background-color: #444444;
  opacity: 0.8;
  background-image:  linear-gradient(#646464 2px, transparent 2px), linear-gradient(90deg, #646464 2px, transparent 2px), linear-gradient(#646464 1px, transparent 1px), linear-gradient(90deg, #646464 1px, #444444 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  color: #ffffff;
  margin: 0;
}

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.typing-demo {
  width: 26ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

#main-navbar {
  font: 1.15em Arial;
  background: #444444;
}

/* Remove default <ul> margin and padding */
#main-navbar ul {
  margin: 0;
  padding: 0;
}

#main-navbar li {
  /* Use inline-block so that every element can have its height and width property */
  display: inline-block;
  /* Give padding so there's space above / below / on the sides of the menu */
  padding: 10px 20px;
}

#main-navbar li a {
  /* Remove the underline for the link */
  text-decoration: none;
  color: #FFFFFF;
}

#main-navbar li a:hover {
  /* When hovering around the menu, there'll be bottom border 3px width, distance is 3px from the menu */
  border-bottom: 3px solid;
  padding-bottom: 3px;
  /* Optional, brighter color so the menu looks like highlighted */
  color: #FFFFFF;
}
