body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
}
custom-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
}
wallpaper {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: url("https://images7.alphacoders.com/725/725596.jpg");
    background-size: cover;
    background-position: center;
}
.glass, dock, open window, open window controls {
    background: rgba(0, 0, 0, 0.45);
    color: white;
}
.circle, open window controls close, open window controls maximize, open window controls minimize, open window controls info {
    border-radius: 999px;
    overflow: hidden;
    height: 0.5em;
    width: 0.5em;
}
.grow-hover:hover, dock dock-item:hover, open window controls close:hover, open window controls maximize:hover, open window controls minimize:hover, open window controls info:hover {
    transform: scale(1.1);
    cursor: pointer;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif;
}
desktop, overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    align-self: stretch;
    display: flex;
}
bar {
    width: 100%;
    height: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 0.75em;
    display: flex;
    align-items: center;
    justify-content: center;
}
bar bar-left, bar bar-center, bar bar-right {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}
bar bar-center {
    justify-content: center;
}
bar bar-right {
    justify-content: flex-end;
}
bar plugin {
    display: flex;
    align-items: center;
}
bar plugin:not(.regular) {
    font-size: 0.8em;
}
bar plugin .icon {
    font-size: 1.25em;
}
dock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem;
    width: 3rem;
    position: absolute;
    left: 0;
    top: 2rem;
    height: calc(100% - 2.5rem);
    font-size: 2rem;
    border-radius: 0 0.33rem 0.33rem 0;
}
dock dock-item {
    margin: 0.25rem;
}
overlay {
    padding-left: 3.25rem;
}
open {
    align-self: stretch;
    flex-grow: 1;
    margin: 0.5rem;
    margin-top: 2rem;
    display: flex;
}
open window {
    flex-grow: 1;
    height: 10rem;
    border-radius: 0.33rem;
    display: flex;
    overflow: hidden;
}
open window:not(:last-child) {
    margin-right: 0.5rem;
}
open window controls {
    width: 1.25rem;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    align-items: center;
    padding: 0.33rem;
    cursor: pointer;
}
open window controls controls-top {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
open window controls controls-top > *:not(:last-child) {
    margin-bottom: 0.5rem;
}
open window controls close {
    background: #e74c3c;
}
open window controls maximize {
    background: #f1c40f;
}
open window controls minimize {
    background: #2ecc71;
}
open window controls info {
    background: #3498db;
}
open window window-content {
    padding: 0.5rem;
    font-size: 0.75em;
}
