body {
	margin: 0;
  background-color: 	#181818;
  background-repeat: no-repeat;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
  height: 100vh;
  color: #C0C0C0;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  border-radius: 200px;
  background:	#383838;
}

header::after {
  border-radius: 200px;
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;

}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #C0C0C0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #C0C0C0;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.paragraph {
  width: 95%;
  border: 3px solid #73AD21;
  padding: 10px; 
  margin: 20px;
  background-color:	#303030;
  border-radius: 20px;
  height: 80px;
}

.paragraph2 {
  width: 95%;
  border: 3px solid #73AD21;
  padding: 10px; 
  margin: 20px;
  background-color:	#303030;
  border-radius: 20px;
  height: 400px;
}

.obizlink {
  color: plum;
}

.obizmainimage1 {
  height: 50px;
  width: 50px;
  right: 20%;
  border-radius: 25%;
}

.paragraph3 {
  width: 98%;
  border: 3px solid #73AD21;
  padding: 10px; 
  margin: 0;
  background-color:	#303030;
  border-radius: 20px;
  height: 400px;
}

.obizinvitelink {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;

  height: 20%;
  border-radius: 20%;
}